<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("imports.ejs") %>
</head>
<body>
    <h1>A Pokedex App</h1>

    <a href="/pokemon/new"><button>Create New Pokemon</button></a>
    
    <ul>
        <ul>
            <% for(let i = 0; i < pokemons.length; i++){ %>
                <a href="/pokemon/<%= i %>"><li><img src ="<%= pokemons[i].img %>"><br><%= pokemons[i].name %></li></a>
            <% } %>
    </ul>
    
</body>
</html>