body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    background-color: lavender;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

li {
    font-size: 1.1em;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.index-names {
    list-style: none;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

